.boxHolder{
    width: 1200px;
    height: 300px;
    border: 1px solid white;
    margin: auto;
}
.box{
    width: 400px;
    height: 60px;
    background-color: orange;
    margin: auto;
    margin-top: 2px;
    border-radius: 10px;
    animation-name: Size-Color-Position;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes Size-Color-Position {

    from{
        margin-top: 2px;
    }
    50%{
        margin-top: 150px;
        background-color: black;
        width: 40px;
    }
    to{
        margin-top: 2px;
        background-color: orange;
    }
}
